<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>ATM MENU</title>
  <link rel="stylesheet" th:href="@{/css/transactions.css}">
</head>
<body>
<script type="text/javascript" th:src="@{/js/signOut.js}"></script>
<div class="container">
  <div class="sidebar">
    <h2>ATM Menu</h2>
    <br><br>
    <a href="http://localhost:8090/menuPage">Home</a>
    <a href="http://localhost:8090/accounts">Accounts</a>
    <a href="http://localhost:8090/transactions" class="active">Transactions</a>
    <a href="http://localhost:8090/settings">Settings</a>
    <a href="http://localhost:8090/signOut"  onclick="return confirm('Are you sure you want to sign out ?')" >Sign Out</a>
  </div>
  <div class="main-content">
    <h2><span th:text="${fullName}"></span>'s Accounts</h2>
    <br>
    <table>
      <thead>
      <tr>
        <th>Account Name</th>
        <th>Account ID</th>
        <th>Balance($)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="account : ${accounts}">
        <td th:text="${account.name}"></td>
        <td th:text="${account.accountID}"></td>
        <td th:text="${#numbers.formatCurrency(account.balance)}"></td>
      </tr>
      </tbody>
    </table>
    <div class="transaction-content">
      <h2>Transaction History
        <span id="idLabel" style="display: none;">[Account ID:
          <span id="currAcctID" th:text="${currAcctID}" th:value="${currAcctID}"></span>
          ]
        </span>
      </h2>
      <form method="post"  th:action="@{/transactions/showTransactionsForm}">
        <select onchange="this.form.submit()" id="acctId" class="form-control" name="acctId">
          <option value="" selected hidden></option>
          <option th:each="account : ${accounts}" th:value="${account.accountID}" th:text="${account.accountID}"></option>
        </select>
      </form>
      <br>
      <div id="transaction-table" style="display: none;">
        <table>
          <thead>
          <tr>
            <th>Date</th>
            <th>Amount($)</th>
            <th>Receiver ID</th>
            <th>Memo</th>
            <th>Transaction ID</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.timestamp}"></td>
            <td th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
            <td th:text="${transaction.receiverID}"></td>
            <td th:text="${transaction.memo}"></td>
            <td th:text="${transaction.transactionID}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
      const acctSelect = document.getElementById("currAcctID");
      const transactionTable = document.getElementById("transaction-table");
      const idLabel = document.getElementById("idLabel");

          if (acctSelect.textContent.trim() === "") {
              transactionTable.style.display = "none";
              idLabel.style.display = "none"
          } else {
              transactionTable.style.display = "block";
              idLabel.style.display = "block"
          }
  </script>
</div>
</body>
</html>
